<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>каталог</title>
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
  <div class="header-top">
    <div class="container">
      <div class="login-container">
        <a href="javascript:void(0);" class="btn">вход</a>
        <a href="javascript:void(0);" class="btn">регистрация</a>
      </div>
      <div class="cart-label-container"></div>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="title">
        <h1>Магазин компьютерной книги</h1>
        <div class="contacts">
          <h6>телефоны (пн.-пт., 9<sup>00</sup>-19<sup>00</sup>):</h6>
          <ul>
            <li>322-223;</li>
            <li>223-322;</li>
          </ul>
          <h6>email:</h6>
          <ul>
            <li>bookstore@example.com;</li>
          </ul>
        </div>
      </div>
    </div>
    <nav>
      
    </nav>
  </header>
  <main class="page-catalog">
    <div class="container ">
      <div class="content-container">
        content-container
      </div>
      <div class="sidebar">
        <h6 class="common-filter-title"><label>
          <input type="checkbox" class="filter-btn-toggle">
          <div class="filter-btn-expand"></div>Фильтры: </label>
        </h6>
        <div class="filter-controls-wrap"></div>
      </div>
    </div>
  </main>
  <script type="text/temlate" id="booksTemplate">
    <div class="content-container">
      <% for(var i=0; i<booksData.length; i++){%>
        <div class="book-item">
          <a href="product.html?bookId=<%= booksData[i].id %>" class="book-item-img-container">
            <img src="<%= booksData[i].photoSmall %>" alt="">
          </a>
          <div class="book-item-info">
            <h4>
              <a href="product.html?bookId=<%= booksData[i].id %>"><%= booksData[i].name %></a>
            </h4>
            <h5>
              <% for(var j=0; j<booksData[i].authors.length; j++){%>
                <%if(j>0){%>; <%}%>
            
                <%= booksData[i].authors[j] %>
              <%}%>
            </h5>
            <p> Издательство: <%= booksData[i].publisher %>;<br> ISBN: <%= booksData[i].isbn %>,<br> <%= booksData[i].pagesQuantity %> стр.</p>
            <p>Цена: <%= booksData[i].price %> грн.</p>
            <form action="">
              <input type="hidden" name="bookId" value="<%= booksData[i].id %>">
              <button class="btn btn-bordered" type="submit">в корзину</button>
            </form>
          </div>
        </div>
      <%}%> 
    </div>
  </script>

  <script src="js/lodash.js"></script>
  <script src="js/commonFunctions.js"></script>
  <script src="js/filter/baseFilter.js"></script>
  <script src="js/filter/draggableBlock.js"></script>
  <script src="js/filter/range.js"></script>
  <script src="js/filter/rangeFilter.js"></script>
  <script src="js/filter/checkboxFilter.js"></script>
  <script src="js/filter/commonFilter.js"></script>
  <script src="js/data/books_data.js"></script>
  <script src="js/cart/popUp.js"></script>
  <script src="js/cart/confirmMessagebox.js"></script>
  <script src="js/cart/infoMessagebox.js"></script>
  <script src="js/cart/cartLine.js"></script>
  <script src="js/cart/cartPopup.js"></script>
  <script src="js/cart/cart.js"></script>
  <script src="js/catalog/menu.js"></script>
  <script src="js/catalog/catalog.js"></script>

  <script>
    'use strict'

    
    initPageOfCatalog();
  </script>
</body>
</html>